.modalView {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.model-content-wrapper {
    position: fixed;
    width: 100%;
    height: 300px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    background-size: 'cover';
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217538/LHR.jpg)
}

button {
    background-color: #457aff00; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }